<html>
  <head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="/img/logo.png" />
    </div>
    
   
  
    {{>footer}}
  </body>
</html>